<div class="container">
  <div class="row">
    <div class="col-md-8">
     
      <app-button 
      [model]="model"
   [validacion]="validacion"   
    ></app-button>

      <h1 [ngStyle]="{'color': '#245B92'}">Registro de Personas</h1>
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="mb-4">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="nombre1"
            required
            #name="ngModel"
          />
          <div
            [hidden]="name.valid || name.pristine"
            class="alert alert-danger"
          >
            This field is required.
          </div>
        </div>
        <div class="mb-4">
          <label for="dni" class="form-label">DNI </label>
          <input 
            type="number"
            class="form-control"
            id="dni"
            name="dni"
            [(ngModel)]="dni1"
           required 
            #dni="ngModel"
           
          />
          <div [hidden]="dni.valid || dni.pristine" class="alert alert-danger">
            This field is required.
          </div>
        </div>

        <div class="mb-4">
          <label for="estado" class="form-label">Department</label>
          <select
            name="estado"
            id="estado"
            class="form-select form-select-sm"
            [(ngModel)]="estado1"
          >
            <option value="Soltero">Soltero</option>
            <option value="Casado">Casado</option>
            <option value="Conviviente">Conviviente</option>
          </select>
          <div class="invalid-feedback">This field is required.</div>
        </div>

        <div class="d-grid gap-2 col-4 float-start">
          <button (click)="onClick()"[ngStyle]="{'background-color': '#5CB85C' ,'color': 'white'}"
            type="submit"
            class="btn  btn-lg"
            [disabled]="contactForm.invalid"
          >
            Enviar
          </button>
        </div>
       
      </form>
     

      <div class="col-md-4"></div>
     
    </div>
  </div>
</div>
